/**
*** RS1
*** By: Geeticka Chauhan
*** Collaborators: Maroula Bach
*** Thanks to stack overflow and MDN for JS syntax and MIT 6.813 course staff for answering piazza q's
*** External libraries:
***     JQUERY https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
***     BOOTSTRAP CSS stylesheet https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
***     BOOTSTRAP JS FILE https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
Please note: Bootstrap is not used for responsiveness, only aesthetics of the buttons and other elements
*/

/* Global variables */

:root {
	--color-light-gray: hsl(220, 10%, 85%);
    --color-gray: hsl(0, 0%, 50%);
	--color-red: hsl(0, 80%, 48%);
    --color-light-red: hsla(0, 77%, 83%, 0.71);
	--color-yellow: hsl(51, 100%, 50%);
	--color-green: hsl(85, 90%, 37%);
	--color-orange: hsl(30, 100%, 50%);
    --color-dark-orange: hsl(20, 100%, 50%);
    --color-blue: hsl(208, 56%, 46%);
    --color-dark-blue: hsl(208, 56%, 41%);
    --color-white: hsl(0, 0%, 100%);
    --color-dirty-white: hsla(0, 0%, 100%, 0.69);
    --color-black: hsl(0, 0%, 0%);
	--color-dark-purple: hsl(300, 100%, 25%);
    --color-purple: hsl(300, 67%, 37%);
    --color-silver: hsl(218, 11%, 85%);
    --color-aqua: hsl(191, 100%, 40%);
    --color-light-aqua: hsla(169, 65%, 43%, 0.48);
}


html {
	display: flex;
	min-height: 100vh;
}

body {
	margin: auto;
    user-select: none;
    font-size: 2em;
    background: radial-gradient(transparent, rgba(0, 0, 0, 0.9)) hsla(200, 15%, 20%, 0.8);
    color: var(--color-light-gray);
}
.wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column;
    margin-left: 5%;
    margin-right: 5%;
}
.text-primary{
    color: var(--color-aqua);
    font-weight: bolder;
}

#draw-area{
    width:auto;
    height:auto;
    position:relative;
    margin:0px auto;
/*    overflow:hidden;*/
}
#draw-area svg{
    width: 1000px;
    height: 600px;
}
#draw-area svg circle{display:block;}
/*#draw-area div{font-size:14px;line-height:18px;color:#000;font-size:Arial;}*/

#bubble-cursor{
    width:auto;
    height:auto;
    position:relative;
    margin:0px auto;
}

img{
    position:absolute; 
    width:100%; 
    height:100%;
}
.btn-success:hover{
    color: var(--color-dirty-white);
}
.padding{
    padding-left: 5px;
    padding-right: 5px;
}
#bubble-cursor svg{
    height: 100%;
    width: 100%;
}


.forminput{
    height: 100%;
    background: var(--color-light-gray);
}
#top-row{
    flex: 8;
}

#bottom-row{
    flex: 4;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
}
#bottom-row div{
    margin: auto;
}

svg text{
/*    https://stackoverflow.com/questions/12905808/how-to-make-an-svg-text-element-click-through-able*/
    pointer-events: none; 
    fill: var(--color-light-gray);
}
#outer-circle:hover{
    fill: var(--color-green);
}
#outer-circle:hover text{
  fill: var(--color-white);
}
a{
   text-decoration: none !important;
}

.centerize {
    display: block;
    margin: auto;
    text-align: center;
}
.spacify{
    padding: .7vh;   
}



.text-center {
    text-align: center;
}

 

div{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
