/**
*** PS3 - CandyCrush Output
*** By: Geeticka Chauhan
*** Collaborators: (from PS2) Maroula Bach, Sayeri Lal, Vaikkunth Mugunthan, Jessica Raquelle; none this time
*** Thanks to stack overflow and MDN for JS syntax and MIT 6.813 course staff for answering piazza q's
*** External libraries:
***     JQUERY https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
***     BOOTSTRAP CSS stylesheet https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
***     BOOTSTRAP JS FILE https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
Please note: Bootstrap is not used for responsiveness, only aesthetics of the buttons and other elements
*/

/* Global variables */

:root {
	--color-light-gray: hsl(220, 10%, 85%);
    --color-gray: hsl(0, 0%, 50%);
	--color-red: hsl(0, 80%, 48%);
    --color-light-red: hsla(0, 77%, 83%, 0.71);
	--color-yellow: hsl(51, 100%, 50%);
	--color-green: hsl(85, 90%, 37%);
	--color-orange: hsl(30, 100%, 50%);
    --color-dark-orange: hsl(20, 100%, 50%);
    --color-blue: hsl(208, 56%, 46%);
    --color-dark-blue: hsl(208, 56%, 41%);
    --color-white: hsl(0, 0%, 100%);
    --color-dirty-white: hsla(0, 0%, 100%, 0.69);
    --color-black: hsl(0, 0%, 0%);
	--color-dark-purple: hsl(300, 100%, 25%);
    --color-purple: hsl(300, 67%, 37%);
    --color-silver: hsl(218, 11%, 85%);
    --color-aqua: hsl(191, 100%, 40%);
    --color-light-aqua: hsla(169, 65%, 43%, 0.48);
	--duration-move: .05s;   /* Duration to move by 1 cell .05s */
	--duration-fade: .4s; 
    --duration-pulsate: 1.2s;
}


html {
	display: flex;
	min-height: 100vh;
}

body {
	margin: auto;
    user-select: none;
    font-size: 2em;
    background: rgba(0,0,0,0.6);
    text-align: justify;
    text-justify: inter-word;
    font-weight: 300;
/*    background: rgba(7, 48, 62, 0.29)*/
}
text-center{
    text-align: center;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column;
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 1000px;
    max-height: 100vh;
    
    
    
    color: var(--color-light-gray);
/*    background-color: #fff;*/
/*    background-color: rgba(0,0,0,0.4);*/
    background: radial-gradient(transparent, rgba(0,0,0,.7)) hsla(200, 15%, 20%, 0.18);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 2px;
/*    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 5px 10px 6px -6px #777;*/
    box-shadow: 0 1px 40px rgba(255, 255, 255, 0.4), 0 0 30px rgba(255, 255, 255, 0.2) inset;
/*
    padding-left: 2vw;
    padding-right: 2vw;
*/
}
.text-primary{
    color: var(--color-aqua);
}
.text-green{
    color: var(--color-green);
}
.forminput{
    height: 100%;
    background: var(--color-light-gray);
}
#top-row{
    flex: 2;
}
#middle-row{
    flex: 8;
}
#bottom-row{
    flex: 2;
}
    
#formwrapper{
    margin: auto;
}

#form{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 2fr;
    grid-template-columns: 1fr 2fr;
    padding-top: 10px;
    padding-bottom: 10px;
}
.formtext{
    justify-content: flex-start;
    padding-right: 10px
}
.radio{
    display: flex;
    justify-content: space-between;
}
.radio label{
    font-weight: 300;
}
.bold{
    font-weight: bold;
}
#outer-circle{
    fill: var(--color-light-gray);
    transition: 0.5s;
/*    cursor: pointer;*/
/*    cursor: crosshair;*/
}
svg text{
/*    https://stackoverflow.com/questions/12905808/how-to-make-an-svg-text-element-click-through-able*/
    pointer-events: none; 
    fill: var(--color-light-gray);
}
#outer-circle:hover{
    fill: var(--color-green);
}
#outer-circle:hover text{
  fill: var(--color-white);
}
a{
   text-decoration: none !important;
    cursor: default;
}

.centerize {
    display: block;
    margin: auto;
    text-align: center;
}
.spacify{
    padding: .7vh;   
}

.text-center {
    text-align: center;
}


.font-big{
    font-size: 40px;
}


div{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}


@media (max-width: 350px) {
    body {
    font-size: 1.3em;
    }
    .radio{
        flex-flow: column;
        align-items: flex-start;
    }  
}